* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
button {
    border: 2px solid transparent;
    cursor: pointer;
    transition: .4s;
}
body {
    font-family: "Poppins" ,sans-serif;
}
#header {
    padding: 25px 0;
    -webkit-box-shadow: 0 3px 34px 0  rgba(103, 150, 187, 0.33);
    -moz-box-shadow: 0 3px 34px 0  rgba(103, 150, 187, 0.33);
    box-shadow: 0  3px 34px 0  rgba(103, 150, 187, 0.33);
}
.header-logo h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173a56;
    padding-left: 16px;

}
.header-logo {
    display: flex;
    align-items: center;

}
.header-nav a {

    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343d;
    padding: 0 25px;
    transition: .4s;

}
.header-nav a:hover {
    color: blue;
    text-decoration-line: underline;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-btn-one {
    font-weight: 600;
    font-size: 16px;
    color: #173a56;
    border: 1px solid #Bcd0e5;
    border-radius: 4px;
    padding: 15px 25px;
    background: transparent;
}
.header-btn-one:hover {
    background: cornflowerblue;
    border: 2px solid #6495ed;
    color: white;
}
.header-btn-two { font-weight: 600;
    font-size: 16px;
    color: #173a56;
    border: 1px solid #Bcd0e5;
    border-radius: 4px;
    padding: 15px 25px;
    background: #02897a;
    margin: 0 25px;
}
.header-btn-two:hover {
    border: 2px solid #6495ed;
    color: white;
    background: cornflowerblue;
}
.header-btn-three {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02897a;
    rotate: 180deg;
}
.header-nav{
    display: flex;
    align-items: center;
}
.hero-text h1 {
    width: 400px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343d;
}
.hero-text p {
    padding: 18px 0 45px 0;
    font-weight: 400;
    font-size: 18px;
    color: #22343d;
    width: 450px;

}
.hero-btn button {
    padding: 15px  30px ;
    margin-right: 30px;
    background: #02897a;
    color: white;

}
#hero {
    padding: 60px 0;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-btn a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897a;
    display: flex;
    align-items: center;

}
.hero-btn a ion-icons {
    font-size: 25px;
    padding-right: 4px;
}
.hero-btn {
    display: flex;
}
#product{
    height: 85vh;
    background: url("../img/product-ten.png") no-repeat bottom/cover;
    padding: 40px 0;
}
.product h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343d;
    width: 519px;
    margin: 0 auto;
}
.product-block h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #22343d;
    width: 240px;
    padding: 30px 0 13px 0;

}
.product-block p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    width: 240px;
}
.product button {
    font-weight: 700;
    font-size: 16px ;
    color: white;
    background: #02897a;
    padding: 15px 28px;
    border-radius: 4px;
}
.product-btn {
    display: flex;
    justify-content: center;

}
.block-cursor {
    width: 50px;
    height: 50px;
    background: #02897a;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-general {
    padding: 66px 0 60px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;

}
.block-cursor-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background: #4d8cfe;
}
.block-cursor-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background: #740a76;
}
.block-cursor-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background: #ef3e3d;
}
.management-text h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343d;
    width: 189px;
}
.management-text h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343d;
    width: 224px;

}
.management-text p {
    padding: 12px 0 22px 0;
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;

}
.management-text h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    width: 151px;

}
.management {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#management{
    padding: 150px 0;
}







